<div class="form-group">
  <div class="form-field">
    <label class="form-field__label" for="{{id}}">{{label}}</label>
    <input
        type="{{type}}"
        id="{{id}}"
        name="{{name}}"
        class="form-input {{#if error}}form-input--error{{/if}}"
        placeholder="{{placeholder}}"
        value="{{value}}"
        {{#if required}}required{{/if}}
        {{#if disabled}}disabled{{/if}}
        data-testid="{{testId}}"
    />
    <div class="form-field__error error-{{name}}">
        {{#if error}}
            <span class="error-message">{{error}}</span>
        {{/if}}

        {{#if helpText}}
            <small class="help-text">{{helpText}}</small>
        {{/if}}
    </div>
  </div>
</div>
