<section class="profile">
  <aside class="profile__back">
    <a href="/chats" class="profile__back-link">← К чатам</a>
  </aside>

  <div class="profile__card">
    <div class="profile__avatar">
      <img src="{{avatar}}" alt="Аватар" class="profile__avatar-img" />
    </div>

    <h1 class="profile__name">{{display_name}}</h1>

    <ul class="profile__info">
      <li class="profile__info-row">
        <span class="profile__label">Email</span>
        <span class="profile__value">{{email}}</span>
      </li>
      <li class="profile__info-row">
        <span class="profile__label">Логин</span>
        <span class="profile__value">{{login}}</span>
      </li>
      <li class="profile__info-row">
        <span class="profile__label">Имя</span>
        <span class="profile__value">{{first_name}}</span>
      </li>
      <li class="profile__info-row">
        <span class="profile__label">Фамилия</span>
        <span class="profile__value">{{second_name}}</span>
      </li>
      <li class="profile__info-row">
        <span class="profile__label">Телефон</span>
        <span class="profile__value">{{phone}}</span>
      </li>
    </ul>

    <nav class="profile__actions">
      <a href="/profile/edit" class="profile__action">Изменить данные</a>
      <a href="/profile/password" class="profile__action">Изменить пароль</a>
      <a href="/profile/avatar" class="profile__action">Изменить аватар</a>
      <a href="/login" class="profile__action profile__action--danger">Выйти</a>
    </nav>
  </div>
</section>
