<div class="chat-item {{#if active}}chat-item--active{{/if}} {{#if unread}}chat-item--unread{{/if}}" data-testid="chat-item" data-chat-id="{{id}}">
    <div class="chat-item-avatar">
        <img src="{{avatar}}" alt="{{title}}" width="48" height="48">
        {{#if isGroup}}
        <span class="chat-item-group-badge">Г</span>
        {{/if}}
    </div>
    
    <div class="chat-item-content">
        <div class="chat-item-header">
            <h3 class="chat-item-title">{{title}}</h3>
            <span class="chat-item-time">{{lastMessageTime}}</span>
        </div>
        
        <div class="chat-item-preview">
            {{#if lastMessageAuthor}}
                <span class="chat-item-author">{{lastMessageAuthor}}:</span>
            {{/if}}
            <span class="chat-item-text">{{lastMessageText}}</span>
        </div>
        
        {{#if unreadCount}}
        <div class="chat-item-unread">
            <span class="unread-badge">{{unreadCount}}</span>
        </div>
        {{/if}}
    </div>
</div>