<div class="input">
  <label class="input__label" for="{{id}}">{{label}}</label>
  <input
    class="input__control"
    id="{{id}}"
    name="{{name}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
  />
</div>
