<div class="message {{#if isOwn}}message--own{{/if}} {{#if withAvatar}}message--with-avatar{{/if}}" data-testid="message">
    {{#if withAvatar}}
    <div class="message-avatar">
        <img src="{{avatar}}" alt="{{authorName}}" width="32" height="32">
    </div>
    {{/if}}
    
    <div class="message-content">
        <div class="message-header">
            <span class="message-author">{{authorName}}</span>
            <span class="message-time">{{time}}</span>
        </div>
        
        <div class="message-text">{{text}}</div>
        
        {{#if attachments}}
        <div class="message-attachments">
            {{#each attachments}}
            <div class="attachment">
                {{#if isImage}}
                    <img src="{{url}}" alt="Изображение" class="attachment-image">
                {{else}}
                    <a href="{{url}}" class="attachment-file">{{name}}</a>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>